/* ----------------------------------------------------------------- */
/* Add basic formatting to things not covered in Cardiff Stylesheets */
/* ----------------------------------------------------------------- */

/* Remove bullet points from lists */
div div ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Format div containing map */
#map {
	top: 0;
	bottom: 0;
	width: 100%; 
	height: 420px; 
	border: 2px solid black; 
	margin-bottom: 20px
}

  /* Style popups for Cardiff Marker */
.cardiffpopup {
	text-align: center;
}

.cardiffpopup img {
width: 100%;
}

h2 {
color: #656560;
font-family: Arial;
}

.leaflet-popup-close-button {
display: none;
}

.leaflet-popup-content-wrapper {
pointer-events: none;
}